@font-face {
	font-family: "SUIT";
	src: url("../src/fonts/SUIT-Regular.ttf");
}

@font-face {
	font-family: "Hahmlet";
	src: url("../src/fonts/Hahmlet-Regular.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	font-family: "SUIT";
}
body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	font-family: "SUIT", "Hahmlet";
}

@media (min-width: 650px) {
	.App {
		width: 640px;
	}
}

@media (max-width: 650px) {
	.App {
		width: 90vw;
	}
}

#root {
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
	min-height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin: auto;
}

/* .MyHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* .MyHeader .textHead {
	font-size: 25px;
	font-weight: bold;
	font-family: "Hahmlet";
} */

/* .MyButton {
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold; */
/* background-color: #feca57; */
/* background-color: #ffd60a;
	cursor: pointer;
	border: none;
	border-radius: 10px;
} */

/* Home */
/* .Home select {
	border: none;
	width: 110px;
	font-size: 32px;
	cursor: pointer;
	font-family: "Hahmlet";
} */

/* .Home option {
	font-size: 15px;
	text-align: right;
}

.Home option:focus {
	outline: none;
} */

/* BookList */
/* .BookList {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 33%);
} */

/* BookItem */
/* .BookItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	margin-bottom: 25px;
	cursor: pointer;
}

.BookItem img {
	width: 130px;
}

.BookItem .BookItem_info {
	display: flex;
	width: 70%;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.BookItem .BookItem_stars {
	display: flex;
	justify-content: center;
}

.BookItem .BookItem_stars img {
	width: 20px;
} */
/* Search */
/* .Search .Search_input {
	width: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px auto;
}

.Search .Search_input input {
	padding: 2px;
	width: 250px;
	height: 30px;
	font-size: 18px;
	font-family: "SUIT";
	border: none;
	background-color: white;
	border-bottom: 3px solid #ffd60a;
}

.Search .Search_input input:focus {
	outline: none;
	background-color: white;
}

.Search .searchBtn {
	width: 50px;
	height: 30px;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	background-color: #f3dad8;
	cursor: pointer;
} */
/* 
.SearchList {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
} */

/* .SearchItem {
	display: flex;
	border: 1px solid none;
	/* background-color: #fcf5c7; */
/* background-color: #fefae0;
	padding: 7px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
} */
/* 
.SearchItem section {
	display: flex;
}

.SearchItem .section_img {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.SearchItem .section_detail h3 {
	margin-bottom: 10px;
}

.SearchItem .section_detail p {
	margin-bottom: 2px;
	margin-top: 0;
	font-size: 15px;
}

.SearchItem .section_detail div {
	padding-top: 5px;
	font-size: 15px;
}

.SearchItem .section_btn {
	width: 60px;
	font-size: 20px;
	cursor: pointer;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
} */

/* Detail */
/* .Detail .MyHeader .rightChild button {
	margin-right: 7px;
} */

/* .Detail .Detail_Infos {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
} */

/* .Detail .Detail_Infos p {
	margin: 20px auto;
	font-weight: bold;
	color: gray;
} */

/* .Detail .Detail_Infos div {
	margin-top: 20px;
} */

/* .Detail .Detail_info_content {
	width: 100%; */
/* background-color: #f3dad8; */
/* background-color: #fefae0;
	border-radius: 5px;
	word-break: keep-all;
	overflow-wrap: break-word;
}

.Detail .Detail_info_content p {
	padding: 10px;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
} */

/* BookEditor */

/* .BookEditor .BookEditor_section > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.BookEditor .BookEditor_section p {
	margin: 20px auto;
	font-weight: bold;
	color: gray;
}

.BookEditor .BookEditor_section img {
	margin: 10px auto;
}

.BookEditor .BookEditor_section textarea {
	margin-top: 15px;
	box-sizing: border-box;
	font-family: "SUIT";
	width: 100%;
	min-height: 250px;
	resize: vertical;
	border: none;
	border-radius: 5px; */
/* background-color: #f3dad8; */
/* background-color: #fefae0;

	padding: 10px;
	font-size: 18px;
	line-height: 1.5;
} */
