@font-face {
	font-family: "SUIT";
	src: url("../src/fonts/SUIT-Regular.ttf");
}

@font-face {
	font-family: "Hahmlet";
	src: url("../src/fonts/Hahmlet-Regular.otf");
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	font-family: "SUIT";
	min-height: 100vh;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin: auto;
}

body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	font-family: "SUIT", "Hahmlet";
}

@media (min-width: 650px) {
	.App {
		width: 64em;
	}
}

@media (max-width: 650px) {
	.App {
		width: 100vw;
	}
}

#root {
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
